.footer-container {
  background-color: #0b2512;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  
}

.footer-container a {
  color: white;
  margin: 5px;
}

.footer-container p {
  margin-left: 5px;
}
