.footer-container {
  background-color: #0b2512;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80px;
  font-size: 18px;
  position: static;
  bottom: 0;
  
}

.footer-container a {
  color: white;
  margin: 5px;
}

.footer-container p {
  margin-left: 5px;
}

@media (max-width: 500px) {
  .footer-container {
    font-size: 11px;
    height: 40px;
  }
}

@media (min-width: 540px) {
  .footer-container {
    font-size: 15px;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    font-size: 18px;
    height: 50px;
  }
}

@media (min-width: 1866px) {
  .footer-container {
    font-size: 18px;
    height: 50px;
    margin-top: 30%;
  }
}

@media (min-width: 1627px){
  .footer-container {
    height: 50px;
  }
}