.product-edit {
  display: flex;
  padding: 0px;
  padding-top: 50px;
  flex-direction: column;
}

.image-container {
  display: flex;
  align-items: center;
}

.edit-product-image {
  width: 500px;
  padding-bottom: 5px;
}

.edit-input-image-link {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  color: black;
  font-weight: bold;
}

.edit-form {
  font-family: "Josefin Slab", serif;
  line-height: 1.6;
}

.edit-name {
  font-family: "Josefin Slab", serif;
  color: black;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 0px;
}

.edit-brand {
  font-family: "Josefin Slab", serif;
  font-size: 40px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
}

.edit-price {
  font-family: "Josefin Slab", serif;
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.edit-scoville {
  font-family: "Josefin Slab", serif;
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.edit-description {
  font-family: "Josefin Slab", serif;
  font-size: 16px;
  letter-spacing: .9px;
  line-height: 1.6;
  color: black;
  font-weight: bold;
}

.save-button {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  height: 45px;
  width: 100px;
  margin-top: 10px;
  background-color: #0B2512;
  color:white;
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  cursor: pointer;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .edit-product-image {
    width: 100px;
  }
  
  .edit-input-image-link {
    width: 300px;
    font-size: 10px;
  }
  .image-container {
    width: 50%;
}
  
  .edit-name {
    font-size: 10px;
  }
  
  .edit-brand {
    font-size: 10px;
  }
  
  .edit-price {
    font-size: 10px;
   
  }
  
  .edit-scoville {
    font-size: 10px;
 
  }
  
  .edit-description {
    font-size: 10px;
  }
  
  .save-button {
    font-size: 13px;
    height: 35px;
    width: 70px;
    margin-top: 10px;
  }
}

@media only screen and (min-device-width:540px) {
  .product-edit {
    display: flex;
    padding: 0px;
    padding-top: 50px;
    flex-direction: column;
  }
  .edit-form {
    display: flex;
    flex-direction: column;
    align-self: center;

  }
  .edit-product-image {
    width: 230px;
    height: 350px;
  }
  
  .edit-input-image-link {
    width: 300px;
    font-size: 16px;
  }
  .image-container {
    width: 50%;
}
  
  .edit-name {
    font-size: 18px;
  }
  
  .edit-brand {
    font-size: 18px;
  }
  
  .edit-price {
    font-size: 18px;
   
  }
  
  .edit-scoville {
    font-size: 18px;
 
  }
  
  .edit-description {
    font-size: 16px;
  }
  
  .save-button {
    font-size: 16px;
    height: 40px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
  } 
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .edit-product-image {
    width: 100px;
  }
  
  .edit-input-image-link {
    width: 300px;
    font-size: 15px;
  }
  .image-container {
    width: 50%;
}
  
  .edit-name {
    font-size: 15px;
  }
  
  .edit-brand {
    font-size: 15px;
  }
  
  .edit-price {
    font-size: 15px;
   
  }
  
  .edit-scoville {
    font-size: 15px;
 
  }
  
  .edit-description {
    font-size: 15px;
  }
  
  .save-button {
    font-size: 13px;
    height: 35px;
    width: 70px;
    margin-top: 10px;
  } 
}

@media only screen  and (min-width : 1224px) {
  .product-edit {
    display: flex;
    padding: 0px;
    padding-top: 50px;
    flex-direction: row;
  }
  .edit-form {
    display: flex;
    flex-direction: column;
    align-self: center;

  }
  .edit-product-image {
    width: 275px;
    height: 400px;
  }
  
  .edit-input-image-link {
    width: 300px;
    font-size: 20px;
  }
  .image-container {
    width: 50%;
}
  
  .edit-name {
    font-size: 25px;
  }
  
  .edit-brand {
    font-size: 25px;
  }
  
  .edit-price {
    font-size: 25px;
   
  }
  
  .edit-scoville {
    font-size: 25px;
 
  }
  
  .edit-description {
    font-size: 20px;
  }
  
  .save-button {
    font-size: 20px;
    height: 40px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
  } 
}