.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* width: 100%; */
  justify-content: space-evenly;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

input, textarea {
  font-size: 48px;
    font-family: "Josefin Slab", serif;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: black;
}

textarea {
  font-size: 24px;
  font-family: "Josefin Slab", serif;
  
}

.input-name {
  font-family: "Josefin Slab", serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 5px;
}
.input-brand {
  font-family: "Josefin Slab", serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 5px;
}
.input-scoville {
  font-family: "Josefin Slab", serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 5px;
}
.input-price {
  font-family: "Josefin Slab", serif;
  color: black;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 1px;
  padding: 5px;
}

.textarea-description{
  font-family: "Josefin Slab", serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    padding: 5px;
}

.input-image-link {
  font-size: 40px;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  color: black;
}

.submit-button {

  font-size: 20px;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  height: 40px;
  width: 100px;
  margin-top: 40px;
  background-color: #0B2512;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #CECECE;
  cursor: pointer;

}

@media (max-width: 500px) {
  .create-form {
      padding-top: 150px;
  }
  
  input, textarea {
      font-size: 28px;
  }
}