/* NEW SLIDER */
.pepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.sliderimg {
  width: 50%;
  height: 50%;
  object-fit: flex;
}

.alice-carousel__prev-btn {
  text-align: center;
}
