html {
  background-color: #0b2512;
}

.home {
  width: 100vw;
  position: relative;
  /* background-color: #0b2512;  */
  top: -20px;
}

.home img {
  width: 100vw;
  height: auto;
}

.awssld__bullets {
  bottom: 0px;
}

.fa-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 3;
  margin: 0 auto;
  width: 100%;
  top: 60vh;
}

.fa-pepper,
.fa-bottle,
.fa-flame {
  font-size: 100px;
  margin: 0px 50px 0px 50px;
  filter: drop-shadow(5px 5px 10px gainsboro);
}

.fa-flame:hover {
  color: #ffa400;
  transform: scale(1.2);
}

.fa-pepper:hover {
  color: #ed2939;
  transform: scale(1.2);
}

.fa-bottle:hover {
  color: #ffe135;
  transform: scale(1.2);
}

.pepper-text,
.bottle-text,
.flame-text {
  font-size: 24px;
  color: black;
}

@media (max-width: 400px) {
  .home {
    padding: 100px 40px;
  }
}
