html {
  /* background-color: #0b2512; */
}

.awssld_wrapper {
  height: 100vh;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background-color: #0b2512;  */
  top: -20px;
}

.home > img {
  width: 100%;
  height: auto;
}

.awssld {
  height: 100vh;
}

.image-1 {
  background-image: url("https://i.imgur.com/zwu6CLI.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.image-2 {
  background-image: url("https://i.imgur.com/S0qmii9.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.image-3 {
  background-image: url("https://i.imgur.com/6B2F3Vg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.image-4 {
  background-image: url("https://i.imgur.com/pmVwWev.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.image-5 {
  background-image: url("https://i.imgur.com/J9yq8tN.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.fa-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 3;
  margin: 0 auto;
  width: 100%;
  top: 35vh;
}

.fa-pepper,
.fa-bottle,
.fa-flame {
  font-size: 100px;
  margin: 0px 50px 0px 50px;
  filter: drop-shadow(5px 5px 10px gainsboro);
}

.fa-flame:hover {
  color: #ffa400;
  transform: scale(1.2);
}

.fa-pepper:hover {
  color: #ed2939;
  transform: scale(1.2);
}

.fa-bottle:hover {
  color: #ffe135;
  transform: scale(1.2);
}

.pepper-text,
.bottle-text,
.flame-text {
  font-size: 24px;
  color: black;
}

@media (max-width: 400px) {
  .home {
    padding: 100px 40px;
  }
}
