.products {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px;
}


@media (max-width: 500px) {
  .products {
      width: 100%;
      /* justify-content: space-around; */
      align-items: center;
  }

}
@media only screen and (max-width : 320px) {
  .products {
    width: 40%;
    align-items: center;
  }
}

  @media only screen  and (min-width : 1224px) {
    .products {
      width: 100%;
      align-items: center;
    }
  }
